.loading .page-item,
.loading .page-item a {
  cursor: no-drop;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.imageBody .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slick-prev {
  left: 0 !important;
  z-index: 2;
}
.slick-next {
  right: 0 !important;
  z-index: 2;
}

.imageBody .slick-dots {
  position: relative !important;
  bottom: 0 !important;
}

.imageBody .slick-list,
.imageBody .slick-list img,
.imageSliderSkeleton {
  min-height: 400px;
  height: 60vh;
}

.imageBody .slick-slide img {
  object-fit: contain;
}

.clear {
  clear: both;
}

.authorImages img {
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .authorImages .slick-slide {
    opacity: 0.4;
    transition: 0.2s;
  }
  .authorImages .slick-slide.slick-active {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .authorImages .slick-slide {
    width: auto !important;
  }
}
